 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                  </div>
                </div>
                <div class="row">
                  <ul class="list-inline item-details">
                    <span style = "float:left;"><h3><u>Experience</u><br/></h3></span>
                    <br/><br/><br/>
                    {% for exp in site.categories.experiences %}
                      <p style="text-align:left;"><b>{{ exp.company-name }}</b>
                        <span style="float:right;"><b>{{ exp.location }}</b></span>
                      </p>
                      <p style="text-align:left;"><b>{{ exp.position-title }}</b>
                        <span style="float:right;"><b>{{ exp.timeline }}</b></span>
                      </p>
                      <p>{{ exp.description }}</P>
                      <hr class="style17">
                      {% endfor %}
                    </ul>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                      <a href="https://app.box.com/s/ho2xuo9jv52bl80nmi265htcv05oq1it" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                      </a>
                    </div>
                  </div>
                </div>
              </section>
