 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Resume</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <ul class="list-inline item-details">
              {% for exp in site.categories.experiences %}
              <p style="text-align:left;">{{ exp.company-name }}
                <span style="float:right;">{{ exp.location }}</span>
              </p>
              <p style="text-align:left;">{{ exp.position-title }}
                <span style="float:right;">{{ exp.timeline }}</span>
              </p>
              <p>{{ exp.line-0 }}</P>
              <script>var num = parseInt({{ exp.number-of-lines }});
              for (i = 0; i < num; i++) {
                str1 = "exp."+"line-"+ parseInt(i);
                document.write(exp.line-0);
              }
              </script>
                {% endfor %}
              </ul>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://app.box.com/s/ho2xuo9jv52bl80nmi265htcv05oq1it" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
